.intro {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.welcome {
  font-size: 30px;
  transition: all 0.3s;
}

.hello span {
  font-size: 30px;
  font-weight: bold;
  color: #49b675;
}
