.navigation {
  height: 80px;
  background-color: #2f3241;
  width: 100%;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.06);
}

.menu-items {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  margin-right: 20px;
  color: #49b675;
  transition: all 0.3s;
}

.menu-items:hover {
  color: #3c9761;
}

.menu-items:focus {
  text-decoration: none;
}

.menu {
  padding: 25px;
}
